{% extends "base.html" %}
{% load static %}



{% block content %}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: { center: 'dayGridMonth,dayGridWeek' },
                initialView: 'dayGridMonth',
                events: [
                    {% for g in payload %}
                        {% for s in g.systems %}
                        {
                            title: '{{ s.system.name|safe }}',
                            start: '2020-09-08',
                            end: '2020-09-09',
                            color: '#{{ s.system.color|safe }}',
                        },
                        {% endfor %}
                    {% endfor %}
                ]
            });
            calendar.render();
        });
    </script>

    <br>
    <div id='calendar'></div>

    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <h3>Goals</h3>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <h3>Systems</h3>
                </div>
            </div>
        </div>

        {% if payload|length < 1 %}
        <div class="row">
            <p>You haven't created any goal yet!</p>
        </div>
        {% endif %}

        {% for g in payload %}
        <div class="row">
            <div class="col">
                <div class="row">
                    <p style="font-size: 20px;">{{ g.goal }}</p>
                </div>
            </div>
            <div class="col">
                {% if g.systems|length < 1 %}
                <div class="row">
                    <p class="text-secondary">You haven't created any system yet!</p>
                </div>
                {% endif %}
                {% for s in g.systems %}
                <div class="row">
                    <p style="font-size: 20px;">{{ s.system }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock content %}
