{% extends "base.html" %}
{% load static %}



{% block content %}

    <br>
    <h3>Goals determine your direction. Systems determine your progress.</h3>
    {% if payload|length < 1 %}
    <div class="row">
        <p class="text-secondary">You haven't created any goal yet!</p>
    </div>
    {% endif %}

    {% for g in payload %}
        <p style="font-size: 20px;"><i class="fas fa-star"></i> Your goal is to <span class="badge badge-warning">{{ g.goal }}</span> <i class="fas fa-arrow-right"></i> Your system is to

        {% if g.systems|length < 1 %}
            <span class="badge badge-warning">Define it here</span>
        {% endif %}

        {% if g.systems|length == 1 %}
            <span style="background-color: #{{ g.systems.0.system.color }}" class="badge badge-warning">{{ g.systems.0.system }}</span>
        {% endif %}

        {% if g.systems|length > 1 %}
            {% for s in g.systems %}
                <span style="background-color: #{{ s.system.color }}" class="badge badge-warning">{{ s.system }}</span>
            {% endfor %}
        {% endif %}

        </p>
    {% endfor %}

    <br>
    <h3>Use this calendar to measure your progress. Try not to break the chain.</h3>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: { center: 'dayGridMonth,dayGridWeek' },
                initialView: 'dayGridMonth',
                events: [
                    {% for g in payload %}
                        {% for s in g.systems %}
                            {% for p in s.progress %}
                                {
                                    title: '{{ p.system.name|safe }}',
                                    start: '{{ p.date|safe }}',
                                    end: '{{ p.date|safe }}',
                                    color: '#{{ p.system.color|safe }}',
                                },
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                ]
            });
            calendar.render();
        });
    </script>
    <div id='calendar'></div>

{% endblock content %}
