{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-sm-12">
        <h3>What do you want to achieve?</h3>
        <p class="font-size-20px">{{ object.name }}</p>

        <h3>What kind of pain do you want?</h3>
        {% if object.pain_level|length %}
            <p class="font-size-20px">{{ object.pain_level }}</p>
        {% else %}
            <p class="font-size-20px">You haven't defined one yet!</p>
        {% endif %}

        <h3>Did you complete it?</h3>
        {% if object.is_completed %}
            <p class="font-size-20px">Yes</p>
        {% else %}
            <p class="font-size-20px">Not yet!</p>
        {% endif %}
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'goals:goal_update' object.id %}" role="button">Update</a>
    <a class="btn btn-danger" href="{% url 'goals:goal_delete' object.id %}" role="button">Delete</a>
    <a class="btn btn-success" href="{% url 'goals:system_create' %}" role="button">Create a system</a>
  </div>
</div>
{% endblock content %}
