{% extends "base.html" %}

{% block content %}
    <h1>Goals</h1>
    {% if goals|length < 1 %}
        <p class="card-text">No goals yet</p>
    {% endif %}
    {% for goal in goals %}
        <div class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ goal.user_of.get_username }}</h5>
                    <h5 class="card-title">{{ goal.name }}</h5>
                    <p class="card-text">{{ goal.is_completed }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock content %}
